{% extends "base.html" %}
{% block title %}
    个人信息管理
{% endblock %}

{% block Title %}
    个人信息管理
{% endblock %}

{% block content %}
    <div class="content_whole">
        <div class="content_card_gray">
            <div class="content_form1" style="overflow-x: hidden">
                <form method="post" action="{{ url_for('student.update_stu') }}">
                    学号:
                    <b>{{ student['sno'] }}</b><br><br>

                    姓名:
                    <b>{{ student['sname'] }}</b><br><br>
                    <input name="sname" type="hidden"
                           value="{{ request.form['sname'] or student['sname'] }}" required>
                    年级:
                    <b>{{ student['sgrade'] }}</b><br><br>
                    <input name="sgrade" type="hidden"
                           value="{{ request.form['sgrade'] or student['sgrade'] }}" >

                    院系:
                    <b>{{ student['sdept'] }}</b><br><br>
                    <input name="sdept" type="hidden"
                           value="{{ request.form['sdept'] or student['sdept'] }}" >
                    性别:
                    <b>{{ student['ssex'] }}</b><br><br>
                    <input name="ssex" type="hidden"
                           value="{{ request.form['ssex'] or student['ssex'] }}" required>

                    身份证:
                    <b>{{ student['sid'] }}</b><br><br>
                    <input name="sid" type="hidden"
                           value="{{ request.form['sid'] or student['sid'] }}" required>

                    <label>密码:<br></label>
                    <input name="spwd" type="password" placeholder="请填写新密码（留白视为不修改）"
                           value=""><br><br>

                    <label>手机号:<br></label>
                    <input name="stel" type="text"
                           value="{{ request.form['stel'] or student['stel'] }}" ><br><br>

                    <label>邮箱:<br></label>
                    <input name="smail" type="text"
                           value="{{ request.form['smail'] or student['smail'] }}" ><br><br>


                    <input type="submit" value="保存">
                    <p></p>
                </form>
            </div>
        </div>


    </div>
{% endblock %}


{% block nav %}


    <a href="{{ url_for('student.update_stu') }}">
        <li>
            <div class="page_now"><i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;个人信息管理</div>
        </li>
    </a>

    <a href="{{ url_for('student.list_unselected_courses') }}">
        <li>
            <i class="iconfont icon-xuanke"></i>&nbsp;&nbsp;学生选课
        </li>
    </a>

    <a href="{{ url_for('student.list_selected_courses') }}">
        <li>
            <i class="iconfont icon-kecheng"></i>&nbsp;&nbsp;已选课程
        </li>
    </a>

    <a href="{{ url_for('student.timetable') }}">
        <li>
            <i class="iconfont icon-kebiao"></i>&nbsp;&nbsp;课表查询
        </li>
    </a>

{% endblock %}