{% extends "base2.html" %}
{% block title %}
    学生信息管理
{% endblock %}

{% block Title %}
    {{ course['cname'] }}的选课情况
{% endblock %}

{% block form %}
    <div class="content_form" style="padding-top: 125px">
        <form action="{{ url_for('admin.select_course') }}" method="post">
            学号: <input type="text" name="sno" value=""><br>
            <input type="hidden" name="cno" value="{{ course['cno'] }}"><br><br>
            <input type="submit" value="加入课程"><br>
        </form>
    </div>
{% endblock %}

{% block table %}
    <div class="content_table" >
        <table class="primary">
            <thead>
            <tr>
                <th nowrap="nowrap">学号</th>
                <th nowrap="nowrap">姓名</th>
                <th nowrap="nowrap">性别</th>
                <th nowrap="nowrap">年级</th>
                <th nowrap="nowrap">院系</th>
                <th nowrap="nowrap">身份证</th>
                <th nowrap="nowrap">手机号</th>
                <th nowrap="nowrap">邮箱</th>
                <th nowrap="nowrap">操作</th>
            </tr>
            </thead>
            <tbody>

            {% for info in students %}
                <tr>
                    <td nowrap="nowrap">{{ info['sno'] }}</td>
                    <td nowrap="nowrap">{{ info['sname'] }}</td>
                    <td nowrap="nowrap">{{ info['ssex'] }}</td>
                    <td nowrap="nowrap">{{ info['sgrade'] }}</td>
                    <td nowrap="nowrap">{{ info['sdept'] }}</td>
                    <td nowrap="nowrap">{{ info['sid'] }}</td>
                    <td nowrap="nowrap">{{ info['stel'] }}</td>
                    <td nowrap="nowrap">{{ info['smail'] }}</td>
                    <td nowrap="nowrap">
                        &nbsp; <a style="color:#fc3c3a"
                                  href="{{ url_for('admin.unselect_course',sno=info['sno']) }}">退课</a></td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}


{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li><i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_course') }}">
        <li>
            <i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</li>
    </a>

{% endblock %}