{% extends "base.html" %}
{% block title%}
新建学生
{% endblock %}

{% block Title%}
新建学生
{% endblock %}

{% block content%}
<div class="content_whole">

    <div class="content_form">
        <form action="{{ url_for('admin.create_stu') }}" method="post">
            学号: <input type="text" name="sno" value=""><br>
            密码: <input type="password" name="spwd" value=""><br>
            姓名: <input type="text" name="sname" value=""><br>
            性别：
            <select name="ssex">
                    <option>男</option>
                    <option>女</option>
            </select>
            年级: <input type="text" name="sgrade" value=""><br>
            院系: <input type="text" name="sdept" value=""><br>
            身份证: <input type="text" name="sid" value=""><br>
            手机号：<input type="text" name="stel" value=""><br>
            邮箱: <input type="text" name="smail" value=""><br>
            <input type="submit" value="新建">
        </form>
    </div>

</div>
{% endblock %}


{% block nav %}
<a href="{{ url_for('admin.info_stu') }}">
    <li>学生信息查询和修改</li>
</a>
<li>
    <div class="page_now">新建学生</div>
</li>

<a href="#">
    <li>学籍管理</li>
</a>
<a href="#">
    <li>国奖群成员查询</li>
</a>
<a href="#">
    <li>退学办理</li>
</a>
{% endblock %}