{% extends "base.html" %}
{% block title %}
    新建管理员
{% endblock %}

{% block Title %}
    新建管理员
{% endblock %}

{% block content %}
    <div class="content_whole">
        <div class="content_card_gray">
            <div class="content_form1" style="overflow: hidden">
                <!--ano, apwd, aname, atel, amail-->
                <form action="{{ url_for('admin.create_admin') }}" method="post">
                    <label class="xrequired">工号:<br> </label>
                    <input type="text" name="ano" value="{{ request.form['ano']}}" placeholder="一旦创建无法修改"><br>
                    <label class="xrequired">密码:<br></label>
                    <input type="password" name="apwd" value="{{ request.form['apwd']}}" placeholder="密码不少于六个字符"><br>
                    <label class="xrequired">姓名:<br></label>
                    <input type="text" name="aname" value="{{ request.form['ano']}}"><br>
                    手机号：<br>
                    <input type="text" name="atel" value="{{ request.form['atel']}}"><br>
                    邮箱: <br>
                    <input type="text" name="amail" value="{{ request.form['amail']}}"><br><br>
                    <input type="submit" value="新建">
                    <p></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li><i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理</li>
    </a>


    <a href="{{ url_for('admin.info_course') }}">
        <li>
            <i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li>
            <div class="page_now"><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</div>
        </li>
    </a>

    <a href="{{ url_for('admin.info_teacher') }}">
        <li>
            <i class="iconfont icon-jiaoshiliebiao"></i>&nbsp;&nbsp;教师信息管理
        </li>
    </a>
    <a href="{{ url_for('admin.info_textbook') }}">
        <li>
            <i class="iconfont icon-jiaocai"></i>&nbsp;&nbsp;教材信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_room') }}">
        <li><i class="iconfont icon-jiaoshi"></i>&nbsp;&nbsp;教室信息管理</li>
    </a>
{% endblock %}