{% extends "base.html" %}
{% block title %}
    新建管理员
{% endblock %}

{% block Title %}
    新建管理员
{% endblock %}

{% block content %}
    <div class="content_whole">
        <div class="content_card_gray">
            <div class="content_form1" style="overflow: hidden">
                <!--ano, apwd, aname, atel, amail-->
                <form action="{{ url_for('admin.create_admin') }}" method="post">
                    工号:<br> <input type="text" name="ano" value="" placeholder="一旦创建无法修改"><br>
                    密码:<br> <input type="password" name="apwd" value="" placeholder="密码不少于六个字符"><br>
                    姓名:<br> <input type="text" name="aname" value=""><br>
                    手机号：<br><input type="text" name="atel" value=""><br>
                    邮箱: <br><input type="text" name="amail" value=""><br><br>
                    <input type="submit" value="新建">
                    <p></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li><i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理</li>
    </a>


    <a href="{{ url_for('admin.info_course') }}">
        <li>
            <i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li>
            <div class="page_now"><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</div>
        </li>
    </a>

{% endblock %}