{% extends "base.html" %}
{% block title %}
    新建课程
{% endblock %}

{% block Title %}
    新建课程
{% endblock %}

{% block content %}
    <div class="content_whole">
        <div class="content_card_gray" >
            <div class="content_form1" style="overflow: hidden">
                <form action="{{ url_for('admin.create_course') }}" method="post">
                    课程名称:<br> <input type="text" name="cname" value="" placeholder="请输入课程名全称"><br>
                    课程类型:<br> <input type="text" name="ctype" value=""><br>
                    院系: <br><input type="text" name="cdept" value="" placeholder="填写学院全称。示例：计算机学院"><br>
                    学分: <br><input type="text" name="ccredit" value="" placeholder="请填写整数"><br>
                    课程容量:<br> <input type="text" name="ccap" value="" placeholder=""><br><br>
                    <input type="submit" value="新建">
                    <p></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li><i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理</li>
    </a>


    <a href="{{ url_for('admin.info_course') }}">
        <li>
            <div class="page_now"><i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理</div>
        </li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</li>
    </a>

{% endblock %}