{% extends "base.html" %}
{% block title %}
    新建教师
{% endblock %}

{% block Title %}
    新建教师
{% endblock %}

{% block content %}
    <div class="content_whole">
        <div class="content_card_gray">
            <div class="content_form1" style="overflow-x: hidden">
                <form action="{{ url_for('admin.create_teacher') }}" method="post">
                    <label class="xrequired">工号:<br> </label>
                    <input type="text" name="tno" value="" placeholder="工号一经确认无法修改"><br>
                    <label class="xrequired">密码:<br> </label>
                    <input type="password" name="tpwd" value="" placeholder="密码不少于六个字符"><br>
                    <label class="xrequired">姓名: <br></label>
                    <input type="text" name="tname" value=""><br>
                    <label class="xrequired">性别：<br></label>
                    <select name="tsex">
                        <option>男</option>
                        <option>女</option>
                    </select><br>
                    <label class="xrequired">职称：<br></label>
                    <input type="text" name="ttitle" value=""><br>
                    院系: <br>
                    <input type="text" name="tdept" value="" placeholder="填写学院全称。示例：计算机学院"><br>

                    手机号：<br>
                    <input type="text" name="ttel" value=""><br>
                    邮箱: <br>
                    <input type="text" name="tmail" value=""><br><br>
                    <input type="submit" value="新建">
                    <p></p><p></p>
                </form>
            </div>
        </div>


    </div>
{% endblock %}


{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li>
            <i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_course') }}">

        <li><i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_teacher') }}">
        <li><div class="page_now">
            <i class="iconfont icon-jiaoshiliebiao"></i>&nbsp;&nbsp;教师信息管理</div>
        </li>
    </a>

{% endblock %}