{% extends "base.html" %}
{% block title %}
    课程信息查询和修改
{% endblock %}

{% block Title %}
    课程信息查询和修改
{% endblock %}

{% block content %}
    <div class="content_whole">
        <div class="content_form">
            <form action="{{ url_for('admin.info_course') }}" method="post">
                课程名称: <input type="text" name="cname" value=""><br>
                课程号: <input type="text" name="cno" value=""><br>
                课程类别: <input type="text" name="ctype" value="" placeholder="示例：必修"><br>
                院系: <input type="text" name="cdept" value="" placeholder="示例：计算机学院"><br><br>
                <input type="submit" value="查询"><br>
            </form>
        </div>

        <div class="content_table">
            <table class="primary">
                <thead>
                <tr>
                    <th>课程名称</th>
                    <th>课程号</th>
                    <th>课程类型</th>
                    <th>学分</th>
                    <th>院系</th>
                    <th>课程容量</th>
                    <th>操作</th>

                </tr>
                </thead>
                <tbody>

                {% for info in courses %}
                    <tr>
                        <td nowrap="nowrap">{{ info['cname'] }}</td>
                        <td nowrap="nowrap">{{ info['cno'] }}</td>
                        <td nowrap="nowrap">{{ info['ctype'] }}</td>
                        <td nowrap="nowrap">{{ info['ccredit'] }}</td>
                        <td nowrap="nowrap">{{ info['cdept'] }}</td>
                        <td nowrap="nowrap">{{ info['ccap'] }}</td>
                        <td nowrap="nowrap"><a style="color: #5474fe"
                                               href="{{ url_for('admin.update_course',cno=info['cno']) }}">修改</a>
                            &nbsp; <a style="color:#fc3c3a"
                                      href="{{ url_for('admin.delete_course',cno=info['cno']) }}">删除</a></td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>

    </div>
{% endblock %}


{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li>学生信息查询和修改</li>
    </a>

    <a href="{{ url_for('admin.create_stu') }}">
        <li>新建学生</li>
    </a>

    <div class="page_now">
        <a href="{{ url_for('admin.info_course') }}">
            <li>课程信息查询和修改</li>
        </a>
    </div>

    <a href="{{ url_for('admin.create_course') }}">
        <li>新建课程</li>
    </a>

{% endblock %}