{% extends "base1.html" %}
{% block title %}
    管理员信息管理
{% endblock %}

{% block Title %}
    管理员信息管理
{% endblock %}

{% block button %}
    <a href="{{ url_for('admin.create_admin') }}">
        <button>新建管理员</button>
    </a>
{% endblock %}

{% block form %}
    <div class="content_form">
        <form action="{{ url_for('admin.info_admin') }}" method="post">
            工号: <input type="text" name="ano" value=""><br>
            姓名: <input type="text" name="aname" value=""><br><br>
            <input type="submit" value="查询"><br>
        </form>
    </div>
{% endblock %}

{% block table %}
    <div class="content_table" style="overflow-x: hidden" >
        <table class="primary" width="95%">
            <thead>
            <tr>
                <th nowrap="nowrap"><a href="#">工号 <!--<i class="iconfont icon-paixu" style="font-size: 16px"></i>--></a></th>
                <th nowrap="nowrap">姓名</th>
                <th nowrap="nowrap">手机号</th>
                <th nowrap="nowrap">邮箱</th>
                <th nowrap="nowrap">操作</th>

            </tr>
            </thead>
            <tbody>

            {% for info in admins %}
                <tr>
                    <td nowrap="nowrap">{{ info['ano'] }}</td>
                    <td nowrap="nowrap">{{ info['aname'] }}</td>
                    <td nowrap="nowrap">{{ info['atel'] }}</td>
                    <td nowrap="nowrap">{{ info['amail'] }}</td>
                    <td nowrap="nowrap"><a style="color: #5474fe"
                                           href="{{ url_for('admin.update_admin',ano=info['ano']) }}">修改</a>
                        &nbsp; <a style="color:#fc3c3a"
                                  href="{{ url_for('admin.delete_admin',ano=info['ano']) }}">删除</a></td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}

{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li>
            <i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理
        </li>
    </a>


    <a href="{{ url_for('admin.info_course') }}">
        <li><i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li>
            <div class="page_now"><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</div>
        </li>
    </a>
{% endblock %}