{% extends "base1.html" %}
{% block title %}
    教师信息管理
{% endblock %}

{% block Title %}
    教师信息管理
{% endblock %}

{% block button %}
    <a href="{{ url_for('admin.create_teacher') }}">
        <button>新建教师</button>
    </a>
{% endblock %}

{% block form %}
    <div class="content_form">
        <form action="{{ url_for('admin.info_teacher') }}" method="post">
            工号: <input type="text" name="tno" value=""><br>
            姓名: <input type="text" name="tname" value=""><br>
            院系: <input type="text" name="tdept" value="" placeholder="示例：计算机学院"><br><br>
            <input type="submit" value="查询"><br>
        </form>
    </div>
{% endblock %}

{% block table %}
    <div class="content_table" >
        <table class="primary">
            <thead>
            <tr>
                <th nowrap="nowrap">工号</th>
                <th nowrap="nowrap">姓名</th>
                <th nowrap="nowrap">性别</th>
                <th nowrap="nowrap">职称</th>
                <th nowrap="nowrap">院系</th>
                <th nowrap="nowrap">手机号</th>
                <th nowrap="nowrap">邮箱</th>
                <th nowrap="nowrap">操作</th>

            </tr>
            </thead>
            <tbody>

            {% for info in teachers %}
                <tr>
                    <td nowrap="nowrap">{{ info['stno'] }}</td>
                    <td nowrap="nowrap">{{ info['tname'] }}</td>
                    <td nowrap="nowrap">{{ info['tsex'] }}</td>
                    <td nowrap="nowrap">{{ info['ttitle'] }}</td>
                    <td nowrap="nowrap">{{ info['tdept'] }}</td>

                    <td nowrap="nowrap">{{ info['ttel'] }}</td>
                    <td nowrap="nowrap">{{ info['tmail'] }}</td>
                    <td nowrap="nowrap"><a style="color: #5474fe"
                                           href="{{ url_for('admin.update_teacher',tno=info['tno']) }}">修改</a>
                                        <!--<a style="color: #5474fe"
                                           href="">授课课程</a>-->
                        &nbsp; <a style="color:#fc3c3a"
                                  href="{{ url_for('admin.delete_teacher',tno=info['tno']) }}">删除</a></td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}

{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li>
            <i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理
        </li>
    </a>


    <a href="{{ url_for('admin.info_course') }}">
        <li><i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_teacher') }}">
        <li>
            <div class="page_now"><i class="iconfont icon-jiaoshiliebiao"></i>&nbsp;&nbsp;教师信息管理</div>
        </li>
    </a>
{% endblock %}