{% extends "base1.html" %}
{% block title %}
    教材信息管理
{% endblock %}

{% block Title %}
    教材信息管理
{% endblock %}

{% block button %}
    <a href="{{ url_for('admin.create_textbook') }}">
        <button>新建教材</button>
    </a>
{% endblock %}

{% block form %}
    <div class="content_form">
        <form action="{{ url_for('admin.info_textbook') }}" method="post">
            教材编号: <input type="text" name="bno" value=""><br>
            教材名称: <input type="text" name="bname" value=""><br>
            出版社: <input type="text" name="bpress" value=""><br>
            作者: <input type="text" name="bauthor" value="" placeholder=""><br><br>
            <input type="submit" value="查询"><br>
        </form>
    </div>
{% endblock %}

{% block table %}
    <div class="content_table" >
        <table class="primary">
            <thead>
            <tr>
                <th nowrap="nowrap">教材编号</th>
                <th nowrap="nowrap">教材名称</th>
                <th nowrap="nowrap">出版社</th>
                <th nowrap="nowrap">作者</th>
                <th nowrap="nowrap">操作</th>

            </tr>
            </thead>
            <tbody>

            {% for info in textbooks %}
                <tr>
                    <td nowrap="nowrap">{{ info['bno'] }}</td>
                    <td nowrap="nowrap">{{ info['bname'] }}</td>
                    <td nowrap="nowrap">{{ info['bpress'] }}</td>
                    <td nowrap="nowrap">{{ info['bauthor'] }}</td>
                    <td nowrap="nowrap"><a style="color: #5474fe"
                                           href="{{ url_for('admin.update_textboox',bno=info['bno']) }}">修改</a>
                        &nbsp; <a style="color:#fc3c3a"
                                  href="{{ url_for('admin.delete_textbook',bno=info['bno']) }}">删除</a></td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}

{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li>
            <i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理
        </li>
    </a>


    <a href="{{ url_for('admin.info_course') }}">
        <li><i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_teacher') }}">
        <li>
            <i class="iconfont icon-jiaoshiliebiao"></i>&nbsp;&nbsp;教师信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_textbook') }}">
        <li>
            <div class="page_now"><i class="iconfont icon-jiaocai"></i>&nbsp;&nbsp;教材信息管理</div>
        </li>
    </a>

    <a href="{{ url_for('admin.info_room') }}">
        <li><i class="iconfont icon-jiaoshi"></i>&nbsp;&nbsp;教室信息管理</li>
    </a>
{% endblock %}