{% extends "base2.html" %}
{% block title %}
    教师信息管理
{% endblock %}

{% block Title %}
    {{ teacher['tname'] }}的授课信息
{% endblock %}

{% block form %}
    <div class="content_form" style="padding-top: 125px">
        <form action="{{ url_for('admin.！！！！！！！') }}" method="post">
             <input type="hidden" name="tno" value="{{ teacher['tno'] }}" ><br>
            课号: <input type="text" name="cno" value=""><br><br>
            <input type="submit" value="授课"><br>
        </form>
    </div>

{% endblock %}

{% block table %}
    <div class="content_table">
        <form method="post" action="{{ url_for('admin.modify_score') }}">
        <table class="primary" width="100%">
            <thead>
            <tr>
                <th nowrap="nowrap">课程名称</th>
                <th nowrap="nowrap">课程号</th>
                <th nowrap="nowrap">课程类型</th>
                <th nowrap="nowrap">学分</th>
                <th nowrap="nowrap">院系</th>
                <th nowrap="nowrap">课程容量</th>
                <th nowrap="nowrap">操作</th>

            </tr>
            </thead>
            <tbody>

            {% for info in courses %}
                <tr>
                    <td nowrap="nowrap">{{ info['cname'] }}</td>
                    <td nowrap="nowrap">{{ info['cno'] }}</td>
                    <td nowrap="nowrap">{{ info['ctype'] }}</td>
                    <td nowrap="nowrap">{{ info['ccredit'] }}</td>
                    <td nowrap="nowrap">{{ info['cdept'] }}</td>
                    <td nowrap="nowrap">{{ info['cselect'] }}/{{ info['ccap'] }}</td>

                    <td nowrap="nowrap">
                        <form action={{ url_for('admin.！！！！！！',tno=info['tno']) }} method="post" id="myform">
                            <input type="hidden" name="tno" value="{{ teacher['tno'] }}"/>
                            <input type="hidden" name="cno" value="{{ info['cno'] }}"/>
                        </form>
                        <a href="#" onclick="document.getElementById('myform').submit();return false;" style="color:#fc3c3a">
                            退授</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        </form>
    </div>

{% endblock %}


{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li><i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_course') }}">
        <li>
            <i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_teacher') }}">
        <li>
            <i class="iconfont icon-jiaoshiliebiao"></i>&nbsp;&nbsp;教师信息管理
        </li>
    </a>
    <a href="{{ url_for('admin.info_textbook') }}">
        <li>
            <i class="iconfont icon-jiaocai"></i>&nbsp;&nbsp;教材信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_room') }}">
        <li><i class="iconfont icon-jiaoshi"></i>&nbsp;&nbsp;教室信息管理</li>
    </a>
{% endblock %}