{% extends "base2.html" %}
{% block title %}
    教师与排课信息
{% endblock %}

{% block Title %}
    {{ room['rno'] }}的排课信息
{% endblock %}

{% block form %}
    <div class="content_form" style="padding-top: 125px">
        <form action="{{ url_for('admin.') }}" method="post">
             <input type="hidden" name="rno" value="{{ room['rno'] }}" ><br>
            <label class="xrequired">课号: <br></label>
                <input type="text" name="cno" value=""><br>
            <label class="xrequired">时间段: <br></label>
                    <select name="time">
                        <option>第一节</option>
                        <option>第二节</option>
                        <option>第三节</option>
                        <option>第四节</option>
                    </select><br><br>
            <input type="submit" name="new" value="新增排课">&nbsp; <input type="submit" name="del" value="取消排课">
        </form>
    </div>

{% endblock %}

{% block table %}
    <div class="content_table">
        
        <table class="primary" width="100%">
                    <caption class="F1">
                        2020秋季学期学生sudent['sname']课程表
                    </caption>
                    <tr class="C1">
                        <th>
                            <div class="C3">
                                <b>时间</b>
                            </div>
                        </th>
                        <th>
                            星期一</th>
                        <th>
                            星期二</th>
                        <th>
                            星期三</th>
                        <th>
                            星期四</th>
                        <th>
                            星期五</th>

                    </tr>
                    <td colspan="8">
                        上午
                    </td>
                    </tr>
                    <tr class="C2">
                        <td nowrap="nowrap">第1,2节</td>
                        <td>计算机工程中最优化的方法<br>
                            冷 彪[1-17]周 (一)201 第1，2节
                        </td>
                        <td>

                        </td>
                        <td>数据库系统原理<br>
                            郎 波[1-13]周 (一)304 第1，2节
                        </td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr class="C2">
                        <td nowrap="nowrap">
                            第3,4,5节
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>


                        </td>
                        <td>数据库系统原理<br>
                            郎 波[1-13]周 (一)304 第3，4节
                        </td>

                    </tr>

                    <td colspan="8">
                        下午
                    </td>
                    </tr>
                    <tr class="C2">
                        <td nowrap="nowrap">
                            第6,7节
                        </td>
                        <td></td>
                        <td>编译技术<br>
                            史晓华[1-13]周 E207 第6，7节
                        </td>
                        <td>

                        </td>
                        <td>数学建模<br>
                            刘正华，宋 晓[1-17]周 主M201 第6，7节
                        </td>
                        <td></td>

                    </tr>
                    <tr class="C2">
                        <td nowrap="nowrap">
                            第8,9,10节
                        </td>
                        <td>数学建模入门<br>
                            郑 锦[1-13]周 (一)212 第8，9节
                        </td>
                        <td></td>
                        <td>

                        </td>
                        <td></td>
                        <td></td>

                    </tr>

                </table>
        
    </div>

{% endblock %}

{% block nav %}
   <a href="{{ url_for('admin.info_stu') }}">
        <li><i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_course') }}">
        <li>
            <i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_teacher') }}">
        <li>
            <i class="iconfont icon-jiaoshiliebiao"></i>&nbsp;&nbsp;教师信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_textbook') }}">
        <li>
            <i class="iconfont icon-jiaocai"></i>&nbsp;&nbsp;教材信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_room') }}">
        <li><i class="iconfont icon-jiaoshi"></i>&nbsp;&nbsp;教室信息管理</li>
    </a>

{% endblock %}