{% extends "base.html" %}
{% block title %}
    学生信息管理
{% endblock %}

{% block Title %}
    学生信息管理
{% endblock %}

{% block content %}
    <div class="content_whole">
        <div class="content_card_gray">

            <div class="content_form1" style="overflow-x: hidden">
                <form method="post" action="{{ url_for('admin.update_course',cno=course['cno']) }}">

                    <label class="xrequired">课程名称<br></label>
                    <input name="cname" type="text"
                           value="{{ request.form['cname'] or course['cname'] }}" required><br>

                    <label>课程类型<br></label>
                    <input name="ctype" type="text"
                           value="{{ request.form['ctype'] or course['ctype'] }}"><br>

                    <label class="xrequired">学分<br></label>
                    <input name="ccredit" type="text"
                           value="{{ request.form['ccredit'] or course['ccredit'] }}" required><br>

                    <label>院系<br></label>
                    <input name="cdept" type="text"
                           value="{{ request.form['cdept'] or course['cdept'] }}"><br>

                    <label class="xrequired">课程容量<br></label>
                    <input name="ccap" type="text"
                           value="{{ request.form['ccap'] or course['ccap'] }}" required><br><br>
                    <input type="submit" value="保存">
                    <p></p>
                </form>
            </div>
        </div>


    </div>
{% endblock %}


{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li><i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_course') }}">
        <li>
            <div class="page_now"><i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理</div>
        </li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</li>
    </a>
    <a href="{{ url_for('admin.info_teacher') }}">
        <li>
            <i class="iconfont icon-jiaoshiliebiao"></i>&nbsp;&nbsp;教师信息管理
        </li>
    </a>
{% endblock %}