{% extends "base.html" %}
{% block title %}
    学生信息管理
{% endblock %}

{% block Title %}
    学生信息管理
{% endblock %}

{% block content %}
    <div class="content_whole">
        <div class="content_card_gray">
            <div class="content_form1" style="overflow-x: hidden">
                <form method="post" action="{{ url_for('admin.update_stu',sno=student['sno']) }}">
                    <label>学号<br></label>
                    <h4>{{ student['sno'] }}<br></h4>
                    <label class="xrequired">姓名<br></label>
                    <input name="sname" type="text"
                           value="{{ request.form['sname'] or student['sname'] }}" required><br>

                    <label>密码<br></label>
                    <input name="spwd" type="password" placeholder="请填写新密码（留白视为不修改）"
                           value=""><br>

                    <label class="xrequired">性别<br></label>
                    <input name="ssex" type="text"
                           value="{{ request.form['ssex'] or student['ssex'] }}" required><br>

                    <label>年级<br></label>
                    <input name="sgrade" type="text"
                           value="{{ request.form['sgrade'] or student['sgrade'] }}" ><br>

                    <label>院系<br></label>
                    <input name="sdept" type="text"
                           value="{{ request.form['sdept'] or student['sdept'] }}" ><br>

                    <label class="xrequired">身份证<br></label>
                    <input name="sid" type="text"
                           value="{{ request.form['sid'] or student['sid'] }}" required><br>

                    <label>手机号<br></label>
                    <input name="stel" type="text"
                           value="{{ request.form['stel'] or student['stel'] }}" ><br>

                    <label>邮箱<br></label>
                    <input name="smail" type="text"
                           value="{{ request.form['smail'] or student['smail'] }}" ><br><br>
                    <input type="submit" value="保存">
                    <p></p>
                </form>
            </div>
        </div>


    </div>
{% endblock %}


{% block nav %}

    <a href="{{ url_for('admin.info_stu') }}">
        <li>
            <div class="page_now"><i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;学生信息管理</div>
        </li>
    </a>

    <a href="{{ url_for('admin.info_course') }}">

        <li> <i class="iconfont icon-biaoqiankuozhan_kecheng-136"></i>&nbsp;&nbsp;课程信息管理</li>
    </a>

    <a href="{{ url_for('admin.info_admin') }}">
        <li><i class="iconfont icon-guanliyuan"></i>&nbsp;&nbsp;管理员信息管理</li>
    </a>
    <a href="{{ url_for('admin.info_teacher') }}">
        <li>
            <i class="iconfont icon-jiaoshiliebiao"></i>&nbsp;&nbsp;教师信息管理
        </li>
    </a>
    <a href="{{ url_for('admin.info_textbook') }}">
        <li>
            <i class="iconfont icon-jiaocai"></i>&nbsp;&nbsp;教材信息管理
        </li>
    </a>

    <a href="{{ url_for('admin.info_room') }}">
        <li><i class="iconfont icon-jiaoshi"></i>&nbsp;&nbsp;教室信息管理</li>
    </a>
{% endblock %}