{% extends "base.html" %}
{% block title %}
    个人信息管理
{% endblock %}

{% block Title %}
    个人信息管理
{% endblock %}

{% block content %}
    <div class="content_whole">
        <div class="content_card_gray">
            <div class="content_form1" style="overflow-x: hidden">
                <form method="post" action="{{ url_for('teacher.update_teacher') }}">
                    工号:
                    <b>{{ teacher['tno'] }}</b><br><br>

                    姓名:
                    <b>{{ teacher['tname'] }}</b><br><br>
                    <input name="tname" type="hidden"
                           value="{{ request.form['tname'] or teacher['tname'] }}" required>
                    职称:
                    <b>{{ teacher['ttitle'] }}</b><br><br>
                    <input name="ttitle" type="hidden"
                           value="{{ request.form['ttitle'] or teacher['ttitle'] }}" >

                    院系:
                    <b>{{ teacher['tdept'] }}</b><br><br>
                    <input name="tdept" type="hidden"
                           value="{{ request.form['tdept'] or teacher['tdept'] }}" >
                    性别:
                    <b>{{ teacher['tsex'] }}</b><br><br>
                    <input name="tsex" type="hidden"
                           value="{{ request.form['tsex'] or teacher['tsex'] }}" required>


                    <label>密码:<br></label>
                    <input name="tpwd" type="password" placeholder="请填写新密码（留白视为不修改）"
                           value=""><br><br>

                    <label>手机号:<br></label>
                    <input name="ttel" type="text"
                           value="{{ request.form['ttel'] or teacher['ttel'] }}" ><br><br>

                    <label>邮箱:<br></label>
                    <input name="tmail" type="text"
                           value="{{ request.form['tmail'] or teacher['tmail'] }}" ><br><br>


                    <input type="submit" value="保存">
                    <p></p>
                </form>
            </div>
        </div>


    </div>
{% endblock %}


{% block nav %}


    <a href="{{ url_for('teacher.update_teacher') }}">
        <li>
            <div class="page_now"><i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;个人信息管理</div>
        </li>
    </a>

    <a href="{{ url_for('teacher.info_textbook') }}">
        <li>
            <i class="iconfont icon-xueshengdangan1"></i>&nbsp;&nbsp;教材信息管理
        </li>
    </a>

    <a href="{{ url_for('teacher.list_untaught_courses') }}">
        <li>
            <i class="iconfont icon-shouke"></i>&nbsp;&nbsp;教师授课
        </li>
    </a>

    <a href="{{ url_for('teacher.list_taught_courses') }}">
        <li>
            <i class="iconfont icon-jiaoyu"></i>&nbsp;&nbsp;已授课程
        </li>
    </a>
    <a href="{{ url_for('teacher.timetable') }}">
        <li>
            <i class="iconfont icon-kebiao"></i>&nbsp;&nbsp;课表查询
        </li>
    </a>
{% endblock %}