<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='iconfont/iconfont.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    {% for message in get_flashed_messages() %}
        <div id="myModal" class="modal" style="display: block">
            <div class="modal-content">
                <a href="javascript:void(0)" onclick="document.getElementById('myModal').style.display='none'">
                    <span class="close">&times;</span>
                </a>
                <p>{{ message }}</p>
            </div>
        </div>
    {% endfor %}
</head>
<body>
<div class="base_whole">

    <div class="base_top">
        <div class="base_top_left">
            <li>教务管理系统</li>
        </div>
        <div class="base_top_right2">

            <button style="font-size: 15px"><a href="{{ url_for('auth.logout') }}"><b>登出</b> &nbsp;<i
                    class="iconfont icon-dengchu"></i> </a></button>

        </div>

        <div class="base_top_right1">
            {% if current_user.is_authenticated %}
                欢迎&ensp;&ensp;&ensp;<b>{{ current_user.name }}</b>
            {% endif %}
        </div>


    </div>
    <div class="base_body">
        <div class="base_left">
            {% block nav %}{% endblock %}
        </div>

        <div class="base_right">

            <div class="base_title">
                <li>&ensp;&ensp;&ensp;{% block Title %}{% endblock %}</li>
            </div>
            <div class="base_content">
                {% block content %}{% endblock %}
            </div>

        </div>

    </div>


</div>
</body>
</html>

<!--
    <li>
            <div class="page_now">学生成绩查询</div>
            </li>
            <a href="#">
                <li>课程查询</li>
            </a>
            <a href="#">
                <li>用户管理</li>
            </a>
            <a href="#">
                <li>学籍管理</li>
            </a>
            <a href="#">
                <li>国奖群成员查询</li>
            </a>
            <a href="#">
                <li>退学办理</li>
            </a>
-->


<!--
    搜索框
    <div class="menu">
        <input placeholder="Search plugins"/>
    </div>
    -->

<!--
    表单，输入
    <form action="demo-form.php">
        First name: <input type="text" name="FirstName" value="Mickey"><br>
        Last name: <input type="text" name="LastName" value="Mouse"><br>
        <input type="submit" value="提交">
    </form>
-->