{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block Title %}
{% endblock %}

{% block content %}
    <div class="content_whole">
        <div class="content_head_box">
            <!--按钮行的块-->
            {% block button %}{% endblock %}
        </div>
        <div class="content_form_and_table_box">
            <!--按钮行下面的块-->
            <div class="content_form_box">
                <!--查询条件form的块-->
                {% block form %}{% endblock %}
            </div>

            <div class="content_table_box">
                <!--查询表格的块-->
            {% block table %}{% endblock %}
            </div>

        </div>


    </div>





{% endblock %}


{% block nav %}
{% endblock %}